body {
  overflow-y: hidden;
}

.home-page {
  height: 100vh;
  background: rgb(12, 11, 64);
  background: linear-gradient(
    90deg,
    rgba(12, 11, 64, 1) 0%,
    rgba(48, 47, 163, 1) 36%,
    rgba(84, 82, 186, 1) 68%,
    rgba(121, 120, 212, 1) 100%
  );
  background-size: cover;
  overflow: hidden;
}

/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #112137; /* Dark background */
  padding: 15px 30px;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Left side: Logo and app name */
.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.app-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

/* Right side: User info */
.header-right {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}

/* Profile picture */
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.home-container {
  position: relative;
  margin: 2%;
  height: 85%;
  display: flex;
  border-radius: 8px;
  overflow: hidden; /* Ensure children don't overflow */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Pseudo-element for the background */
.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(121, 120, 212, 0.5) 0%,
    rgba(84, 82, 186, 0.5) 36%,
    rgba(48, 47, 163, 0.5) 68%,
    rgba(12, 11, 64, 0.5) 100%
  );
  z-index: 1;
  opacity: 0.7; /* Further control the overall transparency */
}

/* Ensure child content appears above the background */
.home-container > * {
  position: relative;
  z-index: 2;
}

.sidebar-container {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid rgb(0, 38, 113);
}

.main-container {
  width: 75%;
}

/* Search Bar Container */
.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0; /* Add some space above and below */
}

/* Search Input */
.search-input {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border: white 1px solid;
  transition: background-color 0.3s ease-in-out;
  margin-right: 5px;
}

/* Change input background on focus */
.search-input:focus {
  background-color: rgba(255, 255, 255, 1);
}

/* Search Button */
.search-button {
  padding: 15px;
  background-color: #4a90e2;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
  width: 60px;
  border-radius: 10px;
}

/* Hover Effect for Button */
.search-button:hover {
  background-color: #357ab8;
}

/*******************************************************
********CSS FOR USER LIST COMPONENT*********************
********************************************************/
.user-search-filter {
  margin-bottom: 10px;
}

.filtered-user {
  border-bottom: #ccc 1px solid;
  padding: 10px 10px;
  color: #28282b;
  cursor: pointer;
  background-color: #000080;
  border-radius: 10px;
  color: white;
}

.selected-user {
  border-bottom: #020060 1px solid;
  padding: 10px 10px;
  color: #28282b;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.filtered-user:hover {
  background-color: white;
  color: black;
  .user-default-profile-pic,
  .user-profile-image {
    background-color: #2767a3;
    color: white;
  }
  .user-start-chat-btn {
    background-color: #2767a3;
    color: white;
  }
}

.filter-user-display {
  display: flex;
  flex-wrap: wrap;
}
.filter-user-details {
  width: 60%;
}
.user-display-name {
  padding: 1px 20px;
  font-size: 16px;
  font-weight: bold;
}
.user-display-email {
  padding: 1px 20px;
  font-size: 12px;
}

.user-default-profile-pic,
.user-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7283ef;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.user-start-chat {
  padding: 10px 0px;
}
.user-start-chat-btn {
  padding: 10px 5px;
  border: none;
  border-radius: 3px;
  background-color: #7283ef;
  color: white;
}

/*******************************************************
********CSS CHATBOX COMPONENT*********************
********************************************************/

.chat-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.chat-header {
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 2px solid rgb(0, 38, 113);
  padding: 15px;
  margin-bottom: 10px;
}
/* ////////////////////////////////////////////////////////// */
/* //////////////////// SCROLL BAR ////////////////////////// */
/* ////////////////////////////////////////////////////////// */

.message-box {
  flex: 1;
  overflow-y: scroll;
  padding: 10px 20px;
}

.message-box::-webkit-scrollbar {
  width: 5px;
}

.message-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

.message-box::-webkit-scrollbar-thumb {
  background: rgb(51, 45, 173);
  border-radius: 10px;
}

.message-box::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 13, 255);
}

/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

/* Container for input and button */
.send-message {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center; /* Align input and button vertically */
  padding-right: 45px; /* Adds right padding to keep button on top of the input */
  margin-top: 10px;
}

/* Chat input */
.send-message-input {
  width: 97%;
  height: 49px;
  padding: 10px 20px;
  background-color: #100e74;
  border-radius: 5px;
  color: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: medium;
}

/* Send button */
.send-message-btn {
  position: absolute;
  left: 94%; /* Adjust distance from right */
  font-size: 36px;
  color: #100e74;
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  width: auto;
  border: 1px solid white;
}

.send-message-btn:hover,
.send-message-btn:focus {
  background-color: #100e74;
  color: white;
  outline: none;
  cursor: pointer;
}

.message-container {
  display: flex;
}

.sent-msg,
.recieved-msg {
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 14px;
  width: fit-content;
}

.sent-msg {
  background-color: rgb(33, 25, 142);
  color: white;
  margin-left: 100px;
  border-top-right-radius: 0px;
}

.recieved-msg {
  background-color: white;
  color: black;
  margin-right: 100px;
  border-bottom-left-radius: 0px;
}

.msg-timestamp {
  width: fit-content;
  font-size: 13px;
  color: rgb(140, 140, 140);
}

@media only screen and (max-width: 1000px) {
  .filter-user-details {
    display: none;
  }
  .chat-container {
    width: 85%;
  }
  .sidebar-container {
    width: 15%;
  }
  .search-container {
    display: none;
  }
}

.last-msg-timestamp {
  font-size: 13px;
  margin-top: 10px;
}

.unread-counter {
  font-size: 16px;
  text-align: center;
  float: right;
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(40, 188, 205);
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.count-timestamp {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  left: 40px;
}

.check-mark{
  color: rgb(140, 140, 140);
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}